@import './base/reset.scss';
@media (min-width: 1200px) {
    .order-page .container {
        max-width: 1150px;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    min-width: 320px;
    background: #fff;
}

.order-page {
    padding-top: 65px;
    padding-bottom: 47px;
}

.order-page h1 {
    font-weight: 900;
    font-size: 38px;
    line-height: 26px;
    letter-spacing: -0.01em;
    color: #333333;
    margin-bottom: 41px;
}

.order-step-title {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #333333;
    position: relative;
    margin-bottom: 10px;
    span {
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.15px;
        color: #E0E0E0;
        position: absolute;
        left: -10px;
        transform: translateX(-100%);
        top: 0;
    }
}

.order-step {
    padding-left: 32px;
    margin-bottom: 20px;
}

.checkbox-item {
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.01em;
    color: #333333;
    margin-right: 36px;
    display: block;
    margin-bottom: 5px;
    width: max-content;
    max-width: 100%;
}

.checkbox-item input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #fff;
    border-radius: 100%;
    border: 1px solid #BDBDBD;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkmark:after {
    content: "";
    display: none;
}

.checkbox-item input:checked~.checkmark:after {
    display: block;
}

.checkbox-item .checkmark:after {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: #FF4F11;
}

.checkbox-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}

.order-step input {
    height: 40px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.order-step input::placeholder {
    font-size: 20px;
    letter-spacing: 0.15px;
    color: #BDBDBD;
    font-family: 'Montserrat', sans-serif;
}

.order-step input:focus {
    border: 1px solid #000
}

.order-step input.big-input {
    width: 576px;
    max-width: 100%;
}

.order-step {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

.input-flex-wrap {
    display: flex;
}

.input-flex-wrap input {
    width: 159px;
    max-width: 100%;
    margin-right: 17px;
}

.input-flex-wrap input:first-child {
    width: 224px;
    max-width: 100%;
}

.input-flex-wrap2 {
    display: flex;
}

.input-flex-wrap2 input {
    width: 126px;
    max-width: 100%;
    margin-right: 17px;
}

.input-flex-wrap2 input:first-child {
    width: 426px;
    max-width: 100%;
}

.map-flex {
    margin-top: 15px;
    margin-bottom: 15px;
}

.map-flex-left1 {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.01em;
    color: #333333;
    margin-bottom: 21px;
}

.map-flex-left2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #333333;
    margin-bottom: 8px;
}

.map {
    height: 100%;
    width: 100%;
    height: 411px;
}

.map>ymaps {
    border-radius: 36px;
    overflow: hidden;
}

.map-wrap {
    position: relative;
    height: 100%;
    width: 100%;
}

input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input:hover::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.checkmark2 {
    position: absolute;
    top: 4px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #BDBDBD;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkmark2:after {
    content: "";
    display: none;
}

.checkbox-item input:checked~.checkmark2:after {
    display: block;
}

.checkbox-item .checkmark2:after {
    width: 6px;
    height: 8px;
    border-bottom: 2px solid #FF4F11;
    border-right: 2px solid #FF4F11;
    transform: rotate(45deg) translate(-1px, -1px);
}

.input-data {
    width: 224px;
    input {
        width: 100%;
    }
    .hasDatepicker {
        width: 100%;
    }
    .ui-datepicker {
        width: 100%;
    }
    .ui-datepicker .ui-datepicker-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ui-datepicker .ui-datepicker-title {
        margin: 0;
        order: 2;
        font-weight: bold;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: -0.01em;
        color: #333333;
    }
    .ui-datepicker .ui-datepicker-next {
        position: relative;
        order: 3;
        top: auto;
        background-image: url('../img/data-r.svg');
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    .ui-datepicker .ui-datepicker-prev {
        position: relative;
        order: 1;
        top: auto;
        background-image: url('../img/data-l.svg');
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    .ui-widget-header {
        background-color: transparent;
        border: 0;
    }
    .ui-widget-content {
        background: #F9F9F9;
        /* Gray 4 */
        border: 1px solid #BDBDBD;
        box-sizing: border-box;
        border-radius: 5px;
    }
    .ui-datepicker th {
        font-weight: 400;
    }
    .ui-state-default {
        text-align: center;
        background-color: #fff;
        border: 1px solid transparent;
        font-weight: 700;
    }
    .ui-state-active {
        color: #000;
        border: 1px solid #ff4f11;
    }
    .ui-datepicker td {
        padding: 3px;
    }
}

#tooltip {
    z-index: 9999;
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    max-width: 250px;
    background-color: #fff;
    padding: 5px 10px 5px 10px;
    color: #000;
    border: 1px solid #888;
    border-radius: 5px;
    box-shadow: 0 1px 2px #555;
}

.tooltip {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(100%, -60%);
    width: 16px;
    height: 16px;
    border: 1px solid #BDBDBD;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    line-height: 26px;
    /* or 236% */
    text-align: center;
    letter-spacing: -0.01em
}

.step6-price {
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    /* or 108% */
    letter-spacing: -0.01em;
    /* Gray 1 */
    color: #333333;
}

.step6__wrap {
    margin: 21px 0;
    .checkbox-item {
        font-weight: 400;
    }
}

.order-step9 .checkbox-item {
    font-weight: 400;
}

.order-page textarea {
    background: #FFFFFF;
    /* Gray 4 */
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
    resize: none;
    height: 142px;
    width: 535px;
    max-width: 100%;
    padding: 15px;
    font-size: 20px;
}

#order-bot {
    padding-top: 20px;
    margin-top: 50px;
    background-image: url('../img/order-bot.svg');
    background-position: top left;
    background-repeat: repeat-x;
}

#order-bot ul {
    max-width: 488px;
}

.order-bot-wrap ul li {
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}

.order-bot-wrap ul li .order-step-title {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.15px;
    max-width: 337px;
}

.order-bot-wrap ul li .order-step-title span {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.15px;
    color: #BDBDBD;
}

.order-bot__price {
    font-weight: bold;
    font-size: 20px;
    /* identical to box height, or 150% */
    text-align: right;
    letter-spacing: 0.15px;
    /* Gray 1 */
    color: #333333;
}

.order-step9-wrap input {
    width: 224px;
    margin-right: 17px;
}

.order-step9-wrap .medium-input {
    width: 294px;
}

.medium-input {
    width: 294px;
}

.order-bot-sum {
    display: flex;
    align-items: center;
}

.order-bot-sum button {
    width: 224px;
    font-weight: 900;
    font-size: 20px;
    line-height: 26px;
    /* or 130% */
    letter-spacing: -0.01em;
    color: #FFFFFF;
    background: #FF4F11;
    border-radius: 5px;
    text-align: center;
    height: 48px;
    transition: 0.3s all;
}

.order-bot-sum button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.order-bot-sum__text {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    letter-spacing: 0.15px;
    /* Gray 1 */
    color: #333333;
    flex: 1;
}

.order-bot-sum__text button {
    display: none;
}

.order-bot-sum__val {
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    /* or 115% */
    text-align: right;
    letter-spacing: 0.15px;
    /* rng m */
    color: #FF4F11;
    margin-right: 94px;
}

.order-form {
    width: 282px;
    background: #FFFFFF;
    /* rng m */
    border: 1px solid #FF4F11;
    box-sizing: border-box;
    border-radius: 5px;
    position: sticky;
    top: 10px;
    padding: 21px 15px;
    .order-bot-wrap ul {
        height: 350px;
        overflow: auto;
        padding-right: 5px;
        margin-right: -12px;
    }
    .order-bot-wrap ul li .order-step-title {
        font-size: 12px;
        line-height: 16px;
        /* or 133% */
        letter-spacing: 0.15px;
        /* Gray 1 */
        color: #333333;
        max-width: 154px;
        margin-right: 11px;
    }
    .order-bot__price {
        font-size: 16px;
        line-height: 26px;
        white-space: nowrap;
    }
    .order-form__title {
        font-weight: 900;
        font-size: 26px;
        line-height: 26px;
        /* or 100% */
        letter-spacing: -0.01em;
        /* Gray 1 */
        color: #333333;
        margin-bottom: 15px;
    }
    .order-bot-wrap ul li {
        padding-left: 20px;
    }
    .order-step-title span {
        left: -5px
    }
    .order-step-title span {
        font-size: 14px;
    }
}


/* width */

.order-bot-wrap ul::-webkit-scrollbar {
    width: 3px;
}


/* Track */

.order-bot-wrap ul::-webkit-scrollbar-track {
    background: #ffffff;
}


/* Handle */

.order-bot-wrap ul::-webkit-scrollbar-thumb {
    background: #C4C4C4;
}

.order-form__bot {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    button {
        width: 100%;
        background: #FF4F11;
        border-radius: 5px;
        font-weight: 900;
        font-size: 20px;
        line-height: 26px;
        /* or 130% */
        text-align: center;
        letter-spacing: -0.01em;
        color: #FFFFFF;
        height: 40px;
        margin-top: 5px;
        transition: 0.3s all;
    }
    button:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}

.order-form__bot__val {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    /* or 130% */
    text-align: right;
    letter-spacing: -0.01em;
    /* rng m */
    color: #FF4F11;
}

.order-form__bot__text {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    letter-spacing: -0.01em;
    /* Gray 1 */
    color: #333333;
}

.order-edit {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .delete {
        background-image: url('../img/delete.svg');
        background-position: center;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        margin-left: 5px;
        background-size: 10px;
        transition: 0.3s all;
    }
    .delete:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
    button {
        background-color: transparent;
        border: 0;
    }
}

.order-edit-wrap {
    display: flex;
    align-items: center;
    button {
        font-size: 12px;
        line-height: 16px;
        /* or 133% */
        letter-spacing: 0.15px;
        /* Gray 1 */
        color: #333333;
        cursor: pointer;
        width: 10px;
        transition: 0.3s all;
    }
    button:hover {
        transform: scale(1.3);
    }
    .btn-plus {
        padding-top: 2px;
    }
}

.order-pop-close {
    display: none;
}

@media(max-width: 991px) {
    .order-form {
        position: fixed;
        display: none;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        overflow: auto;
        border: 0;
    }
    .order__form__back {
        width: 400px;
        background-color: #fff;
        padding: 30px 15px;
        border-radius: 15px;
        margin: 0 auto;
        position: relative;
        max-width: 100%;
    }
    .order-pop-close {
        position: absolute;
        right: 0px;
        top: 0px;
        display: block;
        width: 35px;
        height: 35px;
        background-image: url('../img/close.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px;
    }
    .order-form .order-bot-wrap ul li .order-step-title {
        max-width: 230px;
    }
    .order-bot-sum__text button {
        display: block;
        font-weight: bold;
        font-size: 12px;
        line-height: 30px;
        /* or 250% */
        letter-spacing: 0.15px;
        text-decoration-line: underline;
        /* Gray 4 */
        color: #BDBDBD;
        text-decoration: underline;
        background-color: transparent;
        width: auto;
        height: auto;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        opacity: 1;
    }
    input[type="date"]:hover::-webkit-calendar-picker-indicator {
        opacity: 1;
    }
}

@media(max-width: 767px) {
    .order-bot-sum {
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .order-bot-sum__val {
        margin-right: 0;
    }
    .order-bot-sum__text {
        width: 50%;
    }
    .order-bot-sum__val {
        width: 50%;
    }
    .order-bot-sum button {
        width: 100%;
        margin-top: 25px;
    }
    .order-bot-sum__text button {
        width: auto;
        margin-top: 0;
    }
    .input-flex-wrap {
        flex-direction: column;
    }
    .input-flex-wrap input {
        width: 100%;
    }
    .input-flex-wrap input:first-child {
        width: 100%;
    }
    .input-flex-wrap2 {
        flex-wrap: wrap;
        margin: 0 -7px;
    }
    .input-flex-wrap2 input {
        width: calc(50% - 14px);
        margin: 0 7px;
        margin-bottom: 7px;
    }
    .input-flex-wrap2 input:first-child {
        width: 100%;
    }
}

@media(max-width: 559px) {
    .order-page h1 {
        font-size: 28px;
        line-height: 26px;
        margin-bottom: 10px;
    }
    .order-step-title {
        font-size: 14px;
        line-height: 20px;
    }
    .order-step-title span {
        font-size: 14px;
        line-height: 20px;
    }
    .order-step {
        padding-left: 26px;
    }
    .map {
        height: 271px;
        margin-left: -26px;
        width: calc(100% + 26px)
    }
    .order-step input {
        height: 32px;
    }
    .order-step input::placeholder {
        font-size: 14px;
        line-height: 1;
    }
    .order-step input {
        font-size: 14px;
    }
    .map-flex-left1 {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .map-flex-left2 {
        font-size: 16px;
        line-height: 21px;
    }
    #tooltip {
        transform: translateX(-100%);
    }
    .checkbox-wrap.step6 {
        flex-direction: column;
    }
    .order-step input {
        width: 100%;
    }
    .order-step .checkbox-item input {
        width: 0;
    }
    .order-step9-wrap .medium-input {
        width: 100%;
    }
    .order-bot-wrap ul li .order-step-title {
        font-size: 12px;
        line-height: 16px;
        max-width: 223px;
    }
    .order-bot-sum__text {
        font-size: 16px;
        line-height: 30px;
    }
    .order-bot-sum__val {
        font-size: 20px;
        line-height: 30px;
    }
    .order-page textarea {
        font-size: 16px;
    }
    .order-page {
        overflow: hidden;
    }
    .order-bot__price {
        font-size: 16px;
        line-height: 30px;
    }
}